<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{name}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Invalid configuration!" />
<link rel="icon" href="{http}/{letIdSRC}/favicon.ico" type="image/ico" />
<link rel="stylesheet" href="{http}/{letIdSRC}/style.css" media="screen" title="letid" charset="utf-8">
</head>
<body class="error">
    <div class="wrapper">
        <h2>Application <span>{class}</span> configuration is not provide!</h2>
          <p class="msg">Pleace check <em>{controller}</em> in <em>{root}</em>, until then <strong>{name}</strong> is under-construction!</p>
    </div>
</body>
</html>
